a {
    text-decoration: none;
    color: #ddddff;
}
a:hover {
    color: #ffffff;
}
body {
    color: #8888ee;
    font-family: Verdana, sans-serif;
    margin: 0 auto;
    max-width: 40em;
    padding: 0 2em;
}
div.edits {
    background: #ffffff;
    border-radius: 1em;
    color: #808080;
    font-size: 75%;
    margin: 0.5em 0;
    padding: 0.5em;
}
div.nav {
    background: #444488;
    border-radius: 1em;
    color: #111122;
    font-size: 75%;
    margin: 0.5em 0;
    padding: 0.5em;
    text-align: center;
}
figcaption {
    background: #111133;
    border-radius: 0.75em;
    color: #333399;
    font-size: 75%;
    padding: 0.75em;
    text-align: center;
}
figure {
    margin: 1em auto;
}
figure.large {
    width: 100%;
}
figure.medium {
    width: 75%;
}
figure.small {
    width: 50%;
}
h1 + a {
    margin-left: 0.5em;
}
html {
    background: #333399;
}
img {
    width: 100%;
    border-radius: 0.75em;
}
p {
    text-indent: 1em;
}
pre > code {
    background: #bbbbff;
    border: 1px solid #808080;
    border-radius: 0.5em;
    color: #111122;
    display: block;
    padding: 1em 1em 1em 2em;
}
span.date_created {
    font-size: 75%;
}
table.index {
    border: 1px solid #333333;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}
table.index td:last-child {
    text-align: right;
}
