a {
    text-decoration: none;
    color: #0000aa;
}
body {
    color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 18pt;
    margin:0 auto;
    max-width: 40em;
    padding: 0 1em;
}
div.edits {
    background: #ffffff;
    border-radius: 1em;
    color: #808080;
    font-size: 75%;
    margin: 0.5em 0;
    padding: 0.5em;
}
div.nav {
    background: #ffffff;
    border-radius: 1em;
    color: #808080;
    font-size: 75%;
    margin: 0.5em 0;
    padding: 0.5em;
    text-align: center;
}
dl.index {
    border: 1px solid #aaaaaa;
    border-radius: 1em;
    width: 100%;
}
dl.index dt {
    color: #808080;
    padding: 0.25em 0.75em;
}
html {
    background: #ddddff;
}
p {
    text-align: justify;
    text-indent: 0.25em;
}
pre > code {
    background: #bbbbff;
    border: 1px solid #808080;
    display: block;
    padding: 1em 1em 1em 2em;
}
span.date_created {
    font-size: 75%;
}
