a {
    text-decoration: none;
    color: #99ffff;
}
body {
    color: #221122;
    font-family: Verdana, sans-serif;
    margin:0 auto;
    max-width: 40em;
    padding: 0 2em;
}
div.nav {
    background: #006666;
    border-radius: 1em;
    color: #808080;
    font-size: 75%;
    margin: 0.5em 0;
    padding: 0.5em;
    text-align: center;
}
figcaption {
    background: #006666;
    border-radius: 0.75em;
    color: #009999;
    font-size: 75%;
    padding: 0.75em;
    text-align: center;
}
figure {
    margin: 1em auto;
}
figure.large {
    width: 100%;
}
figure.medium {
    width: 75%;
}
figure.small {
    width: 50%;
}
html {
    background: #009999;
}
img {
    width: 100%;
    border-radius: 0.75em;
}
pre > code {
    background: #99ffff;
    border: 1px solid #004d4d;
    display: block;
    padding: 1em 1em 1em 2em;
}
span.date_created {
    font-size: 75%;
}
table.index {
    background: #006666;
    border: 1px solid #004d4d;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
}
table.index td:last-child {
    text-align: right;
}
